* {
  margin: 0%;
  padding: 0;
  box-sizing: 0;
  scroll-behavior:smooth;
}

/* login segment */

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.bg-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  filter: blur(2px);
}
.text {
  color: #1665c0;
  font-family: "Roboto", sans-serif;
  font-weight: bold; 
}
.login-box {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #e6dddd4d;
  width: 450px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  justify-content: center;
  position: relative;
}

.user-icon {
  width: 30%; /* ปรับความกว้างเป็น % */
  max-width: 150px; /* กำหนดความกว้างสูงสุด */
  margin: 0 auto 1rem; /* จัดกึ่งกลางและเพิ่มระยะห่างด้านล่าง */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon img {
  width: 100%;
  height: auto; 
  object-fit: contain;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
  color: #777777;
  font-size: 13px;
  width: 100%;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #EAEAEA;
}
.list-password {
  display: flex ;
  justify-content: space-between;
}

.remember {
  display: flex;
  gap: 0.5rem;
}

.remember input {
  width: auto;
}

.log {
  background-color: #0b5bb6; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}
.log:active{
  animation: clickAnimation 0.3s ease;
}
@keyframes clickAnimation {
  0% {
    transform: scale(1); /* ขนาดปกติ */
  }
  50% {
    transform: scale(0.95); /* ย่อขนาดลงเล็กน้อย */
    background-color: #08418a; 
  }
  100% {
    transform: scale(1); /* กลับสู่ขนาดปกติ */
  }
}

/* Media Query สำหรับหน้าจอมือถือ */
@media (max-width: 480px) { /* ปรับ breakpoint ตามต้องการ */
  .login-box {
    width: 90%; /* ขยายความกว้างให้เต็มพื้นที่มากขึ้น */
    padding: 2rem; /* ลดระยะห่างภายใน */
    height: 500px;
  }

  .user-icon {
    width: 40%; /* ขยายขนาดไอคอน */
    margin-bottom: 1rem; 
  }

  .input-group input {
    font-size: 1rem; /* ปรับขนาดตัวอักษร */
  }

  .list-password {
    flex-direction: column; /* เรียงองค์ประกอบเป็นแนวตั้ง */
    align-items: flex-start; /* จัดชิดซ้าย */
  }

  .remember {
    margin-bottom: 0.5rem; 
  }
}